extends layout

block content
  h1= title

    - let birdid = toShow._id
    - let bird_name = toShow.name
    - let bird_color = toShow.color
    - let bird_size = toShow.size
  
  div.row(class='mb-2')
    div.mr-1 Bird ID is
    div #{birdid}
  - let actionid = "/resource/birds/" + birdid//"/resource/birds"
    form(id='BirdForm', action=actionid, method="PUT")
        div.form-group
            label.birdAttr(for='name') bird name
            input#name(type='text', name='name',value=bird_name )
        div.form-group
            label.birdAttr(for='color') Bird Color 
            input#color(type='text', name='color',value=bird_color minlength=4)
        div.form-group
            label.birdAttr(for='size') Bird Size
            input#size(type='text', name='size',value=bird_size)
        input(type="submit")

  script.
    document.forms['BirdForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
          //cosole.log("RES RES RES ",resp)
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });